.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.tile {
    flex: auto;
    aspect-ratio: 1;
}

button {
    display: block;
    border: 2px solid red;
    margin: 0 auto;
}